streamlit
python-dotenv
fastapi
langserve
sse_starlette
anthropic
langchain-openai
langchain-anthropic
bs4
pypdf
chromadb
groq
cassio
beautifulsoup4
langchain-groq
wikipedia
arxiv
langchainhub
faiss-cpu